@import url('https://fonts.googleapis.com/css?family=Caveat|Comfortaa|Cuprum|Montserrat|Nunito|Play&display=swap');

html {
	max-width: 100%;
	max-height: 100%;
}

body {
	max-width: 100%;
	margin-top: 10px;
}

header,section,nav,hr {
	width: 90%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

hr {
	opacity: 50%;
}
.logo {
	height: 20%;
}

header {
	height: 65px;
	display: grid;
	margin-right: 2.5%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

header i {
	border-radius: 50%;
	background-color: rgb(58, 153, 242, 0.3);
	padding: 12px;
}

header ul {
	margin-top: -50px;
	margin-left: 20px;
}

header ul li {
	padding-top: 10px;
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	list-style: none;
}

header ul li:first-child {
	color: #2487e3;
}

nav {
	padding-bottom: 15px;
}

nav ul li {
	display: inline-block;
	list-style: none;
}

nav ul li:nth-child(2), nav ul li:nth-child(3), nav ul li:nth-child(4), nav ul li:nth-child(5), nav ul li:nth-child(6) {
	margin-left: 5%;
}

nav ul li a {
	font-size: 15px;
	color: #000;
	font-family: 'Montserrat';
	font-weight: bold;
	padding-top: 16px;
}

nav ul li a:hover {
	border-top: 2px solid rgb(36, 116, 191, 0.91);
	transition: .3s;
	color: rgb(36, 116, 191, 0.91);
}

nav ul li:last-child a {
	padding: 10px;
	border-radius: 10px;
	background-color: rgb(36, 135, 227, 0.91);
	color: white;
}

nav ul li:last-child a:hover {
	background-color: rgb(62, 159, 250, 0.91);
	box-shadow: 3px 4px 5px silver;
	border: 0;
}

/* slider */

.slider {position:relative;}
.slider_items{position:relative;width:100%;overflow:hidden;max-height:700px;}
.slider_item{position:relative;display:none;width:100%;transition: transform 0.6s ease;backface-visibility: hidden;overflow:hidden;}
.slider_item_active,.slider_item_next,.slider_item_prev{display:block;}
.slider_item_next,.slider_item_prev{position: absolute;top:0;}
.slider_item_next.slider_item_left,
.slider_item_prev.slider_item_right{transform: translateX(0);}
.slider_item_next,
.slider_item_right.slider_item_active{transform: translateX(100%);}
.slider_item_prev,
.slider_item_left.slider_item_active{transform: translateX(-100%);}
.slider_control{position:absolute;top:0;bottom:0;display:flex;align-items:center;justify-content:center;width:150px;color:#fff;opacity:.5;}
.slider_control:hover,
.slider_control:focus{opacity:1;}
.slider_control_prev{left:15%;}
.slider_control_next{right:15%;}
.slider_control::before {content: '';height:80px;width:19px;position:absolute;display:inline-block;background:transparent no-repeat center center;background-size: 100% 100%;}
.slider_control_prev::before {background:url(images/arrows.png) no-repeat 0;left:15%;border-radius:0px 3px 3px 0px;}
.slider_control_next::before {background:url(images/arrows.png) no-repeat -19px 0;right:15%;border-radius:3px 0px 0px 3px;}
.slider_indicators{position:absolute;right:0;bottom:10px;left:0;z-index:15;display:flex;justify-content:center;padding-left:0;margin-right:15%;margin-left:15%;list-style:none;}
.slider_indicator{position: relative;flex:0 1 auto;width:30px;height:3px;margin-right:3px;margin-left:3px;text-indent:-999px;cursor:pointer;background-color:#fff;border-radius:6px;}
.slider_indicator::before{position:absolute;top:-10px;left:0;display:inline-block;width:100%;height:10px;content:"";}
.slider_indicator::after{position:absolute;bottom:-10px;left:0;display:inline-block;width:100%;height:10px;content:"";}
.slider_indicator_active {background-color:#f00;}
.slider_items img{display:inline-block;height:auto;width:100%;vertical-align:bottom;}
.slider_text{z-index:3;position:absolute;top:10%;left:50%;margin-left:-400px;max-width:400px;}
.slider h1,.slider h2,.slider p{color:#fff;text-shadow:0 0 3px #000,0 0 10px #333;}

.b_ttl_ix{background:rgba(255,255,255,0.7);max-width:50%;padding:1% 5%;}
.idx_ttl{text-transform:uppercase;color:#000;}
.desc{font-size:18px;color:#000;}

@media (max-width:1300px){
.slider_control_prev{left:5%;width:100px;}
.slider_control_next{right:5%;width:100px;}
}

@media (max-width:1050px){
.slider_text{top:10%;left:50%;margin-left:-200px;max-width:400px;}
}

@media (max-width:720px){
.slider_items{max-height:300px;}
.slider_items img{width:auto;height:100%;}
.slider_control_prev{display:none;}
.slider_control_next{display:none;}
.slider_text{top:1%;left:4%;right:4%;margin-left:0px;max-width:100%;}
}

/* Конец слайдера */

#section_slider {
	background-color: black
	padding-bottom: 20px;
}

#about {
	width: 80%;
	background-color: rgb(146, 147, 148, 0.2);
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
}	

#container_about {
	width: 75%;
	padding: 20px 0 20px 0;
	text-align: center;
	margin: 0 auto;
}

#container_about p { 
	font-size: 30px;
	font-family: 'cursive';
	font-weight: lighter;
}

#container_about h1 {
	font-family: 'Cuprum';
	font-size: 35px;
	font-weight: lighter;
}


.fixed {
	position: fixed;
	top: 0;
	z-index: 1002;
	background-color: white;
	width: 100%;
	margin-left: 50px;
}

#uslugi_container {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 50px;
}

#uslugi_container h1, #med_paket_container h1, #doctors h1, #advantages h1, aside h1 {
	text-align: center;
	font-family: 'Montserrat';
	font-size: 35px;
	text-decoration: underline rgb(36, 116, 191, 0.91);
} 

section h1:first-letter, aside h1:first-letter {
	color: rgb(36, 116, 191, 0.91);
}

.uslugi {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.uslugi div {
	height: 170px;
	border: 1px solid rgb(146, 147, 148, 0.3);
	border-radius: 5px; 
	box-shadow: 2px 3px 3px rgb(146, 147, 148, 0.2);
	position: relative;
}

.uslugi div:hover {
	background-color: rgb(36, 116, 191, 0.85);
	transition: .4s ease;
	color: white;

}

.uslugi div:hover i {
	color: white;
}

.uslugi p {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 150px;
	margin-left: -75px;
	font-family: 'Nunito';
	font-size: 17px;
}

.uslugi i {
	font-size: 70px;
	position: absolute;
	top: 10px;
	width: 150px;
	margin-left: -75px;
	color: rgb(36, 116, 191, 0.6);
}

#paket {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#paket div {
    margin-bottom: 50px;
    padding: 10px;
    border: 1px solid rgb(146, 147, 148, 0.4);
    text-align: center;
    box-shadow: 2px 3px 3px rgb(146, 147, 148, 0.2);
}

#paket h2 {
	font-family: 'Nunito';
	font-size: 20px;
	color: rgb(36, 116, 191, 0.91);
}

#paket ul li {
	padding: 10px;
	text-align: left;
	font-style: 'Cuprum';
	color: rgb(36, 116, 191, 0.91);
	font-size: 18px;
}

#paket ul li span {
	color: black;
}

.button {
	width: 200px;
	height: 20px;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
	cursor: pointer;
	color: white;
	background-image: linear-gradient(255deg, #4b82bc 0%, #8495cc 100%);
	border-radius: 3px;
}

.button:hover {
	border-radius: 100px;
	transition: 1s ease;
	background-color: rgb(36, 116, 191, 0.64);
}

#doctors {
	margin-bottom: 70px;
}

#doctors img {
	width: 250px;
}

.slick-slider {
	width: 100%;
	margin: 40px auto;
	box-shadow: 2px 2px 3px 3px silver;
}

.slick-slider div {
	text-align: center;
	margin: 0 20px;
}

.slick-slider img {
	margin: 10px auto;
}

#doctors p {
	font-size: 18px;
	font-family: 'Nunito';
}

#doctors h2, #advantages h2 {
	font-size: 21px;
	font-family: 'Comfortaa';
	color: rgb(36, 116, 191, 0.91);
}


#advantages {
	width: 55%;
	margin-top: 33px;
	float: left;
	margin-left: 5%;
	margin-bottom: 50px;
}

.slick-slider2 i {
	float: left;
	margin-top: 30%;
	margin-right: 30px;
	font-size: 50px;
	color: rgb(0,0,0,0.8);
}

.slick-slider2 h2 {
	font-size: 20px;
}

.slick-slider2 p {
	font-size: 16px;
}


#priem {
	width: 30%;
	border: 1px solid silver;
	height: 450px;
	float: right;
	margin-top: 11%;
	margin-right: 5%;
	text-align: center;
}

#priem h1 {
	font-size: 25px;
}

#priem form {
		padding: 30px;
	  border-radius: 0 20px 20px 0;
	  color: #7b7b7b;
}

input[type="text"], input[type="email"] {
  border-width: 0;
  outline: none;
  margin-bottom: 20px;
  width: 85%;
  padding: 10px 15px;
  background: #e6e6e6;
}

select {
	 border-width: 0;
	  outline: none;
	  margin-bottom: 20px;
	  width: 93%;
	  padding: 10px 15px;
	  background: #e6e6e6;
	  cursor: pointer;
	  font-size: 16px;
}

#priem button {
	width: 180px;
	height: 40px;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
	cursor: pointer;
	color: white;
	background-image: linear-gradient(255deg, #4b82bc 0%, #8495cc 100%);
	border: 0;
	font-size: 17px;
}

#priem button:hover {
	background-image: none;
	outline: 2px solid blue;
	background-color: #fff;
	color: #000;
}

/* Кнопка наверх */

#button-up{
  display: none;	
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: fixed;
  right: 10px;
  bottom: 50px;			
  color: #000;
  transition: .3s;
}
 
#button-up:hover{
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
  transition: .3s;
  color: #FF0000;
}

footer {
	width: 100%;
	height: 450px;
	position: relative;
	clear: both;
	background-color: #2a2a2b;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

footer div {
	text-align: center;
	margin-top: 30px;
}

footer h1 {
	color: white;
	font-family: 'Comfortaa', sans-serif;
	font-size: 25px;
	font-weight: lighter;
}

footer p {
	font-size: 18px;
	width: 70%;
	margin: 40px auto;
	font-family: 'Play', sans-serif;
	color: #929394;
}

footer hr {
	width: 40px;
	margin: 20px auto 
}

footer a {
	font-size: 17px;
	color: #1660a6;
	font-family: 'Comfortaa', sans-serif;
}

footer ul {
	margin-top: 20px;
	float: left;
}

footer ul li {
	list-style: none;
	font-size: 18px;
	font-family: 'Play', sans-serif;
	color: #929394;
	padding: 10px;
}

footer i {
	font-size: 20px;
	color: rgb(36, 116, 191, 0.8);
}

footer form {
	width: 65%;
	margin: 40px auto;
}

footer input[type="text"], footer input[type="email"] {
	background-color: #1d1d1d;
	height: 20px;
	color: white;
}

footer input[name="answer"] {
	height: 50px;
}

footer button {
	width: 130px;
	height: 36px;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
	cursor: pointer;
	color: white;
	background-color: #1d1d1d;
	border: 0;
	font-size: 14px;
}

footer button:hover {
	border: 1px solid white;
	background-color: rgb(36, 116, 191, 0.8);
}

#footer-bottom {
	width: 100%;
	height: 60px;
	position: relative;
	clear: both;
	background-color: #1d1d1d;
} 

#footer-bottom p {
	margin-top: 0;
	padding-top: 20px;
	margin-left: 100px;
	color: #929394;
}

#social {
	position: absolute;
	top: 0;
	right: 100px;
}

#social ul li {
	display: inline-block;
	padding-left: 20px;
}